@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao programa cadastro cliente</h1>
    
    <button type="button" class="btn btn-outline-primary"><a href="/ViewsProjeto/Create"> cadastrar novo cliente </a></button>
    
    <button type="button" class="btn btn-outline-primary"><a href="/ViewsProjeto/Read"> clientes cadastrados </a></button>

</div>

   
